* {
  box-sizing: border-box;
  
}
.transparent_nav > .nav_bar {
    background-color:hsla(0,0%,100%,0.7);
    overflow: hidden;
  }
  header{
      background-image: url("images/billboard.jpg");
      background-repeat:no-repeat;
      background-size: cover;
          width:100%;
  }
  body{
    background-color:#808080;
  }
  /* navigation */
  .nav_list{
    position: fixed; /* Set the navbar to fixed position */
  /* bottom: 0; */
  } */
    ul.navlist{
      width: 100px;
    }
      #nav_list{
          display:flex;
          flex-direction: row;
          justify-content: space-around;
          font-size: 20px;            
          /* padding: 5px; */
            list-style-type: none;  
        text-decoration: none;
      }
      li.n>*{
text-decoration: none;
color: black;

      }
     li.n>*:hover {
      color:chocolate;
      }
      /* <!-- get in touch --> */
      .ctastyle{
      margin-top: 240px;
        background-color:hsla(0,0%,100%,0.7);
        padding: 25px;
      }
      .ctastyle:hover +div
      {
        display: block; 
            color: green; 
   background-color: chocolate;
      }

      #cta_text{
              color:black;

      }
      #cta_link{
           float:right;     
            text-decoration: none;
            text-align: center;
            box-shadow: 2px 2px 2px gray;
            text-transform: uppercase;
            padding: 1em 1.5em;
            color:white;
            background-color: hsl(191, 100%, 50%);
      }
      /* services_wrapper */
h1{
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color:navy;
   font-size:2em;
   text-shadow: 1px 1px 2px black;
}
/* separater_style */
#separater_style{
  text-align: center;
  background-color:	#66b3ff;
  margin-bottom: 0;
}
.services wrapper{
  top:0;
}
/* recent work */
.imrow{
  display: flex;
  padding: 0 4px;
  flex-direction:row;
  
}
   #imitem{
        width:255px; 
    height:300px;
    filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;
padding-left: 10px;
      } 
   #imitem:hover{
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
       }

/* flex for footer */
.frow{
display: flex;
}
.fcol{
 background-color: black;
 color:white;
 width:100%;
 padding: 100px;
 }
#sup_list>li{
  list-style-type: none;
  text-align: left;                
  display:inline;
   padding: 10px;
}
#comp_list>li{
  list-style-type: none;
  text-align: left;                
   margin:10px;
}
li.n1>*{
  text-decoration: none;
  color:white;
  size:40px;
  padding: 10px;  
        }
       li.n1>*:hover {
        color:chocolate;
        }
    ul{
        display: inline;
    }
.testimonials_style        
{
    display:flex;
     justify-content: space-evenly;

}
div.testimonials_style >* {
   text-decoration: none;
   background-color: cadetblue;
   width: 100%;
   height: 250px;
   color:white;
   padding: 30px;
}
.ul_stylet{

text-align: center;
text-decoration: none;
list-style-type: none;
}
#imgshape{
    border-radius: 50%;
}
.rights{
    background-color: black;     /* rights */                
    color: blanchedalmond;
    text-align: center;
    margin-top: 0;
}
.social_icon{
  margin-top: 10px;
  background-image: url("images/social.png");
  background-repeat: no-repeat;
  height: 25px;
}
.social_icon:hover{
  background-image: url("images/social_hover.png");
}
.client_brand {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f3f3f3;
  text-align: center; width: 100%;}
.client_brand img {
  padding-left: 2.9%;
  padding-right: 2.9%;
}
